.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
}

.header-container {
  display: flex;
  justify-content: center; /* Change to center the logo */
  align-items: center;
  height: 3.5rem;
  padding: 0 1rem;
  max-width: 64rem;
  margin: 0 auto;
}

.logo img {
  width: 10px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
}